*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f4f4;
padding:40px;
}

/* MAIN CONTAINER */

.container{
display:flex;
max-width:1200px;
margin:auto;
background:white;
padding:40px;
gap:50px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

/* LEFT SIDE */

.left{
width:35%;
text-align:center;
}

.profile{
width:250px;
height:250px;
object-fit:cover;
border-radius:50%;
border:6px solid #ff4d2d;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
margin-bottom:30px;
}

.info p{
margin:12px 0;
font-size:18px;
}


/* RIGHT SIDE */

.right{
width:65%;
}

.right h1{
font-size:46px;
margin-bottom:10px;
}

hr{
margin:15px 0 25px 0;
}


/* GRID SECTIONS */

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:40px;
}

h3{
margin-bottom:10px;
font-size:22px;
}

p{
color:#555;
line-height:1.6;
}


/* SKILLS */

.skills{
display:flex;
flex-wrap:wrap;
gap:10px;
}

.skills span{
background:#ff4d2d;
color:white;
padding:8px 12px;
border-radius:5px;
font-size:14px;
}


/* CONTACT */

.contact{
margin-top:40px;
}

.contact p{
margin:5px 0;
}